<p>Apreciados padres de familia.</p>
<p>Nos gustar&iacute;a conocer su opini&oacute;n sobre la conferencia&nbsp; on-line realizada por las orientadoras del colegio, el pasado 25 de Abril. Esta informaci&oacute;n nos ayudar&aacute; a cualificar el proceso del &aacute;rea.</p>
<table>

  <tr>
    <td>
      <div class='celValue' id="label_question_1">
        <label class='optionQuestion subject_1'><strong>1.</strong>La claridad de la presentaci&oacute;n fue...</label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>EXCELENTE <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>BUENA <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>REGULAR <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  <tr>
    <td>
      <div class='celValue' id="label_question_2">
        <label class='optionQuestion subject_2'><strong>2.</strong>La informaci&oacute;n le aport&oacute; herramientas para acompa&ntilde;ar a su hijo en el proceso de toma de decisiones de manera ... </label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>EXCELENTE <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>BUENA <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>REGULAR <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  <tr>
    <td>
      <div class='celValue' id="label_question_3">
        <label class='optionQuestion subject_3'><strong>3.</strong>&nbsp;La exposici&oacute;n fue... </label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>EXCELENTE <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>BUENA <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>REGULAR <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  <tr>
    
    <td>
      <div class='celValue' id="label_question_4">
        <label class='optionQuestion subject_4'><strong>4.&nbsp;</strong>Seleccione uno de los dos temas propuestos para la pr&oacute;xima charla de Orientaci&oacute;n Profesional. </label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='A'><input class='form-control' type='radio' name='question_4'>A
          <i class="fa fa-check" aria-hidden="true"></i></label>
          <h6 id="option_a">&nbsp;</h6>
          <br>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B
          <i class="fa fa-check" aria-hidden="true"></i></label>
          <h6 id="option_b">&nbsp;</h6>
        </div>
    </td>
    
  </tr>  <tr>
    
</table>
<p>&nbsp;</p>
  <p>Gracias por su colaboraci&oacute;n.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>ORIENTADORAS PROFESIONALES</strong><strong><br /> &nbsp;DEPARTAMENTO DE BIENESTAR</strong></p>
<p><strong>&nbsp; &nbsp;&nbsp;COLEGIO ANGLO AMERICANO</strong></p>
<div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <h5 id="titleModalLarge" style="text-align: center;"></h5>
            </div>