<p>Las Directivas del colegio estamos trabajando para la continuidad de clases en la modalidad de alternancia, cumpliendo con los protocolos de bioseguridad y las directrices del Gobierno. Damos la opci&oacute;n de asistir todos los d&iacute;as al colegio a estudiantes de Preescolar considerando que en clases virtuales es m&aacute;s dif&iacute;cil el aprendizaje debido a su corta edad y a estudiantes de D&eacute;cimo y Und&eacute;cimo por la importancia de prepararlos para la Universidad.</p>
<p>&nbsp;</p>
<p>Queremos con esta encuesta saber cu&aacute;ntos estudiantes de: a) Preescolar, b) Hermanos de ni&ntilde;os Preescolar, c) Estudiantes de D&eacute;cimo y Und&eacute;cimo, tendr&iacute;an la autorizaci&oacute;n de sus padres para asistir todos los d&iacute;as al colegio.&nbsp; La respuesta estar&iacute;a condicionada a las posibilidades de cupo, teniendo en cuenta los aforos permitidos o nuevas disposiciones de la Secretar&iacute;a de Educaci&oacute;n. Simult&aacute;neamente les daremos informaci&oacute;n sobre el transporte.</p>
<p>&nbsp;</p>
<p>Deseamos conocer su decisi&oacute;n para organizar de la mejor manera los grupos y las actividades escolares que se realizar&aacute;n durante el segundo semestre del a&ntilde;o 2021, teniendo en cuenta la modalidad que los padres elijan voluntariamente.&nbsp;</p>
<p>&nbsp;</p>
<p>Por efectos de organizaci&oacute;n, los padres que seleccionen para el segundo semestre: a) Alternancia, b) Asistir todos los d&iacute;as al colegio, c) Clases virtuales, deber&aacute;n mantener la modalidad escogida hasta finalizar el a&ntilde;o para no alterar nuestra organizaci&oacute;n.</p>
<p>&nbsp;</p>
<p>Sabemos que la mayor&iacute;a de docentes, monitoras, personal de administraci&oacute;n, servicios generales, mantenimiento est&aacute;n recibiendo la vacuna en estos d&iacute;as y seguramente al reinicio de clases en el segundo semestre todos tendr&aacute;n la inmunidad correspondiente.</p>
<p>&nbsp;</p>
<p><strong>COSTOS SERVICIOS SEG&Uacute;N LA MODALIDAD ELEGIDA:</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong><u>Seminternado (almuerzo).</u> </strong></p>
<p>En alternancia: 50% $151.705</p>
<p>Asistiendo todos los d&iacute;as: 100% $ 303.410</p>
<p>&nbsp;</p>
<p><strong><u>Medias nueves y Onces. </u></strong></p>
<p>De Preescolar a 2&ordm;:&nbsp; En alternancia: 50%: $70.295</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Asistiendo todos los d&iacute;as: 100% $140.590</p>
<p>&nbsp;</p>
<p><strong><u>Medias nueves&nbsp;</u></strong></p>
<p>De 3&ordm; a 5&ordm;:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;En alternancia: 50%: $62.345</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Asistiendo todos los d&iacute;as: 100% $124.690</p>
<p>&nbsp;</p>
<p><strong><u>Transporte.</u></strong></p>
<p>En alternancia: 80%:&nbsp;</p>
<p>&nbsp;</p>
<p><u>Servicio Corriente:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $ 241.504.00</u></p>
<p><u>Servicio Especial:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $ 296.353.00</u></p>
<p><u>Servicio Corriente Ch&iacute;a:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$ 275.657.00</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><u>Servicio Especial Ch&iacute;a, Cota y Cajic&aacute;:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $ 350.701.00</u></p>
<p><u>Valor mensual Transporte Doble Ruta Especial:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $ 353.274.00</u></p>
<p><u>Valor mensual Transporte Doble Ruta Corriente:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $ 312.312.00</u></p>
<p>&nbsp;</p>
<p>Asistiendo todos los d&iacute;as: 100%:</p>
<p><u>Valor mensual Transporte Especial Bogot&aacute;:</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>$ 370.441.00</u></p>
<p><u>Valor mensual Transporte Especial Ch&iacute;a:</u> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <u>$ 438.377.00</u></p>
<p><u>Valor mensual Transporte Corriente Bogot&aacute;:</u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>$ 301.880.00</u></p>
<p><u>Valor mensual Transporte Corriente Ch&iacute;a:</u>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>$ 344.571.00</u></p>
<p><u>Valor mensual de los municipios de Cota, Cajic&aacute;:</u>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>$ 438.377.00</u></p>
<p><u>Valor mensual Transporte Doble Ruta Especial:</u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>$ 441.592.00</u></p>
<p><u>Valor mensual Transporte Doble Ruta Corriente:</u> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>$ 390.390.00</u></p>
<p>Al no prestar el servicio por aislamientos decretados por el Gobierno, se descontar&aacute;n solamente los d&iacute;as correspondientes seg&uacute;n la modalidad elegida.</p>
<p><strong><u>Servicio Especial</u></strong>:</p>
<ul>
  <li>El estudiante es recogido y/o dejado en la direcci&oacute;n de su residencia.</li>
  <li>El estudiante es recogido y/o dejado en alguna de las porter&iacute;as de su conjunto.</li>
  <li>El estudiante es recogido y/o dejado frente a la direcci&oacute;n de su residencia y debe cruzar la calle para que el bus pueda respetar el sentido de las v&iacute;as.</li>
  <li>El estudiante realiza un desplazamiento desde la direcci&oacute;n de su residencia o de la porter&iacute;a del conjunto, <u>no mayor a una cuadra</u>.</li>
</ul>
<p><strong><u>Servicio Corriente</u></strong>:</p>
<ul>
  <li>El estudiante realiza un desplazamiento mayor a una cuadra, desde la direcci&oacute;n de su residencia o del conjunto hasta el paradero asignado por el Colegio.</li>
</ul>
<p>El colegio se comunicar&aacute; con ustedes una vez se organicen las rutas para informarles si se puede o no prestar el servicio especial, ya que debemos tener en cuenta los recorridos trazados, v&iacute;as de acceso, horarios, distancias y n&uacute;mero de estudiantes en el sector. Para el servicio de doble ruta se verificar&aacute; la disponibilidad de cupo.</p>
<p>Se organizar&aacute;n las rutas con las direcciones de los padres que soliciten el servicio en este desprendible y solo se aceptar&aacute;n nuevas solicitudes en caso de tener cupos disponibles en las rutas.</p>
<p>Agradecemos su comprensi&oacute;n y colaboraci&oacute;n en esta situaci&oacute;n cr&iacute;tica para el Colegio.</p>
<p><strong>INFORMACI&Oacute;N ADICIONAL:</strong></p>
<ul>
  <li><strong>Horarios de clases: </strong></li>
</ul>
<p>Preescolar, Primero y Segundo: 7:30 a.m. a 3:20 p.m.</p>
<p>Tercero, Cuarto y Quinto: 7:30 a.m. a 3:30 p.m.</p>
<p>Bachillerato: 7:30 a.m. a 3:35 p.m.</p>
<ul>
  <li><strong>Aspecto Acad&eacute;mico </strong></li>
</ul>
<p>Los docentes dictar&aacute;n las clases simult&aacute;neamente en forma virtual y presencial, utilizando las herramientas tecnol&oacute;gicas necesarias. Al recibir su respuesta a esta circular se organizar&aacute;n los grupos en las aulas.</p>
<p>&nbsp;</p>
<p>Atentamente,</p>
<p><strong>&nbsp;</strong><strong>COLEGIO ANGLO AMERICANO</strong></p>

<hr width="90%" color="black" align="center"> 

<p>Se&ntilde;ores</p>
<p><strong>COLEGIO ANGLO AMERICANO</strong></p>
<p>&nbsp;</p>
<p>Elegimos para el segundo semestre la siguiente modalidad para nuestro hijo:</p>
<table>
  <tbody>
    <tr>
      <td>
        <div class="btn-grouprow col-md" data-toggle="buttons">
          
            
          Alternancia:&nbsp;&nbsp;
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='1'><input class='form-control' type='radio' name='question_1'>SI <i class="fa fa-check" aria-hidden="true"></i></label>&nbsp;&nbsp;&nbsp;</br>
          
          
          
            
          Asistir al colegio todos los d&iacute;as:&nbsp;&nbsp;
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='2'><input class='form-control' type='radio' name='question_1'>SI <i class="fa fa-check" aria-hidden="true"></i></label>&nbsp;&nbsp;&nbsp;</br>
          
          
          
            
          Clases virtuales:&nbsp;&nbsp;
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='3'><input class='form-control' type='radio' name='question_1'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
          

        </div>
      </td>
    </tr>
  </tbody>
</table>  
&nbsp;  


<div class=" animated fadeInDown d-none" id="div_question_1">  

<div class="animated fadeInDown d-none" id="div_question_1_2">
  &nbsp;
  <div class="row ">
    <div class='celValue' id="label_question_12">
     Hermano de estudiantes de Preescolar: &nbsp;
   </div> 
   </div> 
  <div class="row ">
   <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_12' data-val='SI'><input class='form-control' type='radio' name='question_12'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_12' data-val='NO'><input class='form-control' type='radio' name='question_12'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <hr width="90%" color="black" align="center"> 
</div>

</div>  
  &nbsp;
  <div class="row ">
    <div class='celValue' id="label_question_2">
     Continuamos con el Servicio de medias nueves y onces (Preescolar a 2º) &nbsp;
   </div> 
   </div> 
  <div class="row ">
   <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='SI'><input class='form-control' type='radio' name='question_2'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2 active' data-val='NO'><input class='form-control' type='radio' name='question_2'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
</div>
&nbsp;

<div class="row ">
  <div class='celValue' id="label_question_3">
   Continuamos con el Servicio de medias nueves (De 3º a 5º) &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='SI'><input class='form-control' type='radio' name='question_3'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestion question_3 active' data-val='NO'><input class='form-control' type='radio' name='question_3'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div> 
</div>
&nbsp;

<div class="row ">
  <div class='celValue' id="label_question_4">
   Lo solicitamos por primera vez (Preescolar a 5º)  &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='SI'><input class='form-control' type='radio' name='question_4'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestion question_4 active' data-val='NO'><input class='form-control' type='radio' name='question_4'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div> 
<hr width="90%" color="black" align="center"> 
</div>
&nbsp;

<div class="row ">
  <div class='celValue' id="label_question_5">
   Continuamos con el Servicio Almuerzo  &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='SI'><input class='form-control' type='radio' name='question_5'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='NO'><input class='form-control' type='radio' name='question_5'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div> 
</div>
&nbsp;

<div class="row ">
  <div class='celValue' id="label_question_6">
   Lo solicitamos por primera vez  &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='SI'><input class='form-control' type='radio' name='question_6'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='NO'><input class='form-control' type='radio' name='question_6'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div>
<hr width="90%" color="black" align="center">  
</div>
&nbsp;

<div class="row ">
  <div class='celValue' id="label_question_7">
   Continuamos con el servicio de Transporte  &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestionYES question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestionYES question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div>  &nbsp; &nbsp; &nbsp;
<div class=" animated fadeInDown d-none" id="div_question_7">  
  <select class="form-control novelty form-control-sm question_8" id="select_question_8" style="height: auto;" aria-label="Default select example">
    
    <option value="Corriente">Corriente</option>
    <option value="Especial">Especial</option>
    <option value="ChIa_Corriente">Chía Corriente</option>
    <option value="Chia_Especial">Chía Especial</option>
    <option value="Cota">Cota</option>
    <option value="Cajica">Cajicá</option>
    <option value="Doble_Ruta">Doble Ruta</option>
  </select>

</div>
</div>
&nbsp;

<div class="row ">
  <div class='celValue' id="label_question_9">
   Lo solicitamos por primera vez  &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestionYES question_9' data-val='SI'><input class='form-control' type='radio' name='question_9'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestionYES question_9' data-val='NO'><input class='form-control' type='radio' name='question_9'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div>   &nbsp; &nbsp; &nbsp;
<div class=" animated fadeInDown d-none "  id="div_question_9">  
  <select class="form-control novelty form-control-sm question_10" id="select_question_10" aria-label="Default select example">
    
    <option value="Corriente">Corriente</option>
    <option value="Especial">Especial</option>
    <option value="ChIa_Corriente">Chía Corriente</option>
    <option value="Chia_Especial">Chía Especial</option>
    <option value="Cota">Cota</option>
    <option value="Cajica">Cajicá</option>
    <option value="Doble_Ruta">Doble Ruta</option>
  </select>
</div>
</div>

&nbsp;
<div class="row ">
  <div class='celValue' id="label_question_11">
   Toma Servicio de Bus EsCool (seguimiento a rutas)  &nbsp;
 </div> 
 </div> 
<div class="row ">
 <div class="btn-group" data-toggle="buttons">
  <label class='btn btn-outline-success btn-sm optionQuestion question_11' data-val='SI'><input class='form-control' type='radio' name='question_11'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
  <label class='btn btn-outline-danger btn-sm optionQuestion question_11' data-val='NO'><input class='form-control' type='radio' name='question_11'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
</div> 
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;

</div>










    <p>Agradecemos su colaboraci&oacute;n.</p>
    <p><strong></strong><strong>COLEGIO ANGLO AMERICANO</strong></p>

