<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<p>  "Solicitamos a todos los padres y estudiantes, <strong>sin excepción, diligenciar diariamente las columnas del cuadro</strong> teniendo en cuenta si el estudiante entendió y aprendió; su tiempo redundará en beneficio para su hijo(a).
  <strong>VOLUNTARIAMENTE, REGISTRAR OBSERVACIONES QUE PUEDAN AYUDARNOS A MEJORAR LOS PROCEDIMIENTOS.</strong>   Gracias por su colaboración."</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Consulte con su hijo(a) en caso necesario y seleccione el concepto correspondiente.</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular; <strong>M</strong> = Malo).</p>
  </ol>
</p>
<p>¡Gracias por su colaboración!</p>
</div>
<table>
  <tr>
    <td><strong>Asignatura </strong></td>
    <td><strong>Conceptos del padre y estudiante  </strong></td> 
  </tr>
  <tr>
    <td>
      <div class='celValue' id="label_question_1">
        <label class='optionQuestion subject_1' data-val='INGLÉS'>INGLÉS</label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='M'><input class='form-control' type='radio' name='question_1'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  <tr>
    <td>
      <div class='celValue' id="label_question_2">
        <label class='optionQuestion subject_2' data-val='TECNOLOGÍA '>TECNOLOGÍA </label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='M'><input class='form-control' type='radio' name='question_2'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  <tr>
    <td>
      <div class='celValue' id="label_question_3">
        <label class='optionQuestion subject_3' data-val='LENGUA CASTELLANA '>LENGUA CASTELLANA </label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='M'><input class='form-control' type='radio' name='question_3'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  <tr>
    <td>
      <div class='celValue' id="label_question_4">
        <label class='optionQuestion subject_4' data-val='CIENCIAS NATURALES '>CIENCIAS NATURALES </label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr>  
  <tr>
    <td>
      <div class='celValue' id="label_question_5">
        <label class='optionQuestion subject_5' data-val='DEMOCRACIA'>DEMOCRACIA</label>
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control' type='radio' name='question_5'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='B'><input class='form-control' type='radio' name='question_5'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_5' data-val='R'><input class='form-control' type='radio' name='question_5'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='M'><input class='form-control' type='radio' name='question_5'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control" id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>
    </td>
    
  </tr> 
</table>
<p><strong>Comentarios</strong></p> 

<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>

<p>Gracias por su colaboración.</p>
