<p><strong>Taller familiar sobre la autoestima </strong></p>
<p>&nbsp;</p>
<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<p>
Con el propósito de fortalecer la autoestima y valores de nuestros alumnos, el comité de convivencia del grado décimo liderado por Sofía Cortés  planteó una serie de actividades para reforzar este objetivo, como el taller familiar que encontrarán a continuación respondiendo las preguntas allí formuladas. <span style="text-decoration: underline;">Se sugiere realizar la actividad con su hijo(a) en un momento totalmente destinado a éste, sin la presencia de hermanos preferiblemente</span>, en aras de que se pueda llegar a una verdadera reflexión e interiorización.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- div class='celValue'>
  <strong>1.</strong> Permitir que los padres respondan las siguientes preguntas:</p>
</div -->
<p>Exprese a su hijo sus comentarios relacionados con las siguientes preguntas</p>

<ol>
  <div class='celValue' id="label_question_1">
    ¿Qué hace único a nuestro(a) hijo(a)?¿Qué lo/la diferencia de los demás?
  </div>
    <div class="input-group p-2  d-none"><textarea class="form-control" id="question_1" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_2">
    ¿Qué tan cercanos somos con nuestro hijo(a)?
  </div>
    <div class="input-group p-2 d-none"><textarea class="form-control" id="question_2" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_3">
    ¿Cómo podemos respaldar la autoestima de nuestro(a) hijo(a) con respecto a asuntos convivenciales, familiares y académicos?
  </div>
    <div class="input-group p-2 d-none "><textarea class="form-control" id="question_3" placeholder="Motivo" rows="2"></textarea></div>
</ol>

<div class='celValue'>
  <!-- strong>2.</strong --> Permitan que su hijo les responda las siguientes preguntas:
</div>
<ol>
<div class='celValue' id="label_question_4">
    ¿Cómo me siento conmigo mismo(a) y con mi progreso personal y académico?
  </div>
    <div class="input-group p-2  d-none"><textarea class="form-control" id="question_4" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_5">
    ¿Percibo un apoyo constante de mis padres?
  </div>  
    <div class="input-group p-2 d-none "><textarea class="form-control" id="question_5" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_6">
    ¿Siento que aspectos externos afectan mi autoestima y estado de ánimo frecuentemente?
  </div>
  <div class="btn-group d-none" data-toggle="buttons">
          <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='SI'><input class='form-control' type='radio' name='question_6'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='NO'><input class='form-control' type='radio' name='question_6'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
    <div class='celValue' id="label_question_7">
    ¿Siento que he analizado y reflexionado acerca de mis metas e ideales?
  </div>
  <div class="btn-group d-none" data-toggle="buttons">
          <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
</ol>
<div class='celValue'>
  <!-- strong>3.</strong --> Respondan tanto padres como estudiantes los siguientes aspectos:
</div>
<ol>
  <div class='celValue' id="label_question_8">
    Mencionen algunos aspectos positivos y negativos en la relación padre-hijo incluyendo aquellos vinculados con la comunicación.
  </div>
    <div class="input-group p-2 "><textarea class="form-control " id="question_8"  rows="2"></textarea></div>
  <div class='celValue' id="label_question_9">
    Establezcan un compromiso a corto plazo para interactuar más frecuentemente, tocando temas de autoestima.
  </div>
    <div class="input-group p-2 "><textarea class="form-control " id="question_9"  rows="2"></textarea></div>
</ol>


<div class="col-md-12">
<p class="text-left">Luego de realizar este ejercicio es de suma importancia volver a tratar los temas abordados con su hijo(a), diligencien el formato de la reflexión que encuentran a continuación y den clic al finalizar el proceso en el boton enviar.</p>
</div>
<div class='celValue' id="label_observation">
    Reflexión
  </div>
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation"  rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>
<p class="text-left">Comité de estudiantes grado 10°</p>