<p>Reciban un cordial saludo</p>
<div class='celValue' id="celValueConten">
  <p>Deseamos conocer su opinión en relación con los siguientes aspectos.  Nuestro propósito es detectar fallas y corregirlas oportunamente. Les solicitamos evaluar teniendo en cuenta la escala de valoración del siguiente cuadro. En caso de no haber tenido contacto con la dependencia, no tomar el servicio o no haber presentado inquietudes o reclamos durante el año, marque <strong>NO APLICA</strong> (NA).</p>
  <div class='celValue'>
    <table class="table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn" border="1" style="margin-left: auto; margin-right: auto;" width="40%">
      <tbody class="text-center">
        <tr>
          <td ><p><strong>ESCALA DE VALORACI&Oacute;N</strong></p></td>
          <td ><p><strong>NOTA</strong></p></td>
        </tr>
        <tr>
          <td ><p>EXCELENTE</p></td>
          <td ><p><label class='btn btn-outline-success'>E<i class="fa fa-check" aria-hidden="true"></i></label></p></td>
        </tr>
        <tr>
          <td ><p>SOBRESALIENTE</p></td>
          <td ><p><label class='btn btn-outline-warning'>S<i class="fa fa-check" aria-hidden="true"></i></label></p></td>
        </tr>
        <tr>
          <td ><p>ACEPTABLE</p></td>
          <td ><p><label class='btn btn-outline-primary'>A<i class="fa fa-check" aria-hidden="true"></i></label></p></td>
        </tr>
        <tr>
          <td ><p>INSUFICIENTE</p></td>
          <td ><p><label class='btn btn-outline-danger'>I<i class="fa fa-check" aria-hidden="true"></i></label></p></td>
        </tr>
        <tr>
          <td ><p>NO APLICA</p></td>
          <td ><p><label class='btn btn-outline-dark'>NA<i class="fa fa-check" aria-hidden="true"></i></label></p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Si tienen comentarios, sugerencias o reclamos relacionados con alg&uacute;n tema, por favor incluirlos en OBSERVACIONES y/o SUGERENCIAS</p>
</div>


<table class='table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='section_1' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>No</th>  
      <th scope='col' style='text-align: center;'>NIVEL DE SATISFACCIÓN GENERAL</th>  
      <th scope='col' style='text-align: center;'>RESPUESTA</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' >1</td>
      <td class='celValue' id="label_question_1">Los mecanismos (agenda, correo, llamada telefónica) con que cuenta el colegio para conocer sus inquietudes son:</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-warning btn-sm optionQuestion question_1' data-val='S'><input class='form-control' type='radio' name='question_1'>S <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='A'><input class='form-control' type='radio' name='question_1'>A <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='I'><input class='form-control' type='radio' name='question_1'>I <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >2</td>
      <td class='celValue' id="label_question_2">La atención recibida frente a sus inquietudes y/o reclamos es:</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-warning btn-sm optionQuestion question_2' data-val='S'><input class='form-control' type='radio' name='question_2'>S <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='A'><input class='form-control' type='radio' name='question_2'>A <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='I'><input class='form-control' type='radio' name='question_2'>I <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-dark btn-sm optionQuestion question_2' data-val='NA'><input class='form-control' type='radio' name='question_2'>NA <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >3</td>
      <td class='celValue' id="label_question_3">El nivel académico y la exigencia del Colegio cumplen con sus expectativas en forma:</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-warning btn-sm optionQuestion question_3' data-val='S'><input class='form-control' type='radio' name='question_3'>S <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='A'><input class='form-control' type='radio' name='question_3'>A <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='I'><input class='form-control' type='radio' name='question_3'>I <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >4</td>
      <td class='celValue' id="label_question_4">El trabajo de formación en valores desarrollado por el colegio es:</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-warning btn-sm optionQuestion question_4' data-val='S'><input class='form-control' type='radio' name='question_4'>S <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='A'><input class='form-control' type='radio' name='question_4'>A <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='I'><input class='form-control' type='radio' name='question_4'>I <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >5</td>
      <td class='celValue' id="label_question_5">El Manual de Convivencia brinda a su hijo(a) elementos reguladores de comportamiento que contribuyen a lograr una sana convivencia, en forma:</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control' type='radio' name='question_5'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-warning btn-sm optionQuestion question_5' data-val='S'><input class='form-control' type='radio' name='question_5'>S <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='A'><input class='form-control' type='radio' name='question_5'>A <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='I'><input class='form-control' type='radio' name='question_5'>I <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control" id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
  </tbody>
</table>
<hr class="style1">
<p class="text-justify"><strong>6. Por favor especifique cuál(es) de los siguientes servicios ha recibido:: <span id="coordinator"></span></strong> </p>
<table class = 'table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='section_2' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>No</th>  
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' >6.1</td>
      <td class='celValue' id="label_question_6">Certificados</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm showOptions options_question_6' data-val='Si'><input class='form-control' type='radio' name='options_question_6'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm showOptions options_question_6' data-val='No'><input class='form-control' type='radio' name='options_question_6'>No <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <br>
        <div id="options_question_6" class="d-none">
          <div class="">
            <label class="control-label input-label font-weight-bold">¿Cómo calificaría usted el servicio?</label>
          </div>
          <br>
          <div class="btn-group" id="" data-toggle="buttons">
            <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-warning btn-sm optionQuestion question_6' data-val='S'><input class='form-control' type='radio' name='question_6'>S <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='A'><input class='form-control' type='radio' name='question_6'>A <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='I'><input class='form-control' type='radio' name='question_6'>I <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >6.2</td>
      <td class='celValue' id="label_question_7">Enfermería</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm showOptions options_question_7' data-val='Si'><input class='form-control' type='radio' name='options_question_7'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm showOptions options_question_7' data-val='No'><input class='form-control' type='radio' name='options_question_7'>No <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <br>
        <div id="options_question_7" class="d-none">
          <div class="">
            <label class="control-label input-label font-weight-bold">¿Cómo calificaría usted el servicio?</label>
          </div>
          <br>
          <div class="btn-group" id="" data-toggle="buttons">
            <label class='btn btn-outline-success btn-sm optionQuestion question_7' data-val='E'><input class='form-control' type='radio' name='question_7'>E <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-warning btn-sm optionQuestion question_7' data-val='S'><input class='form-control' type='radio' name='question_7'>S <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='A'><input class='form-control' type='radio' name='question_7'>A <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='I'><input class='form-control' type='radio' name='question_7'>I <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >6.3</td>
      <td class='celValue' id="label_question_8">Cartera</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm showOptions options_question_8' data-val='Si'><input class='form-control' type='radio' name='options_question_8'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm showOptions options_question_8' data-val='No'><input class='form-control' type='radio' name='options_question_8'>No <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <br>
        <div id="options_question_8" class="d-none">
          <div class="">
            <label class="control-label input-label font-weight-bold">¿Cómo calificaría usted el servicio?</label>
          </div>
          <br>
          <div class="btn-group" id="" data-toggle="buttons">
            <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-warning btn-sm optionQuestion question_8' data-val='S'><input class='form-control' type='radio' name='question_8'>S <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='A'><input class='form-control' type='radio' name='question_8'>A <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='I'><input class='form-control' type='radio' name='question_8'>I <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' >6.4</td>
      <td class='celValue' id="label_question_9">Comunidad Virtual</td>
      <td class='celValue text-left'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm showOptions options_question_9' data-val='Si'><input class='form-control' type='radio' name='options_question_9'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm showOptions options_question_9' data-val='No'><input class='form-control' type='radio' name='options_question_9'>No <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <br>
        <div id="options_question_9" class="d-none">
          <div class="">
            <label class="control-label input-label font-weight-bold">¿Cómo calificaría usted el servicio?</label>
          </div>
          <br>
          <div class="btn-group" id="" data-toggle="buttons">
            <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='E'><input class='form-control' type='radio' name='question_9'>E <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-warning btn-sm optionQuestion question_9' data-val='S'><input class='form-control' type='radio' name='question_9'>S <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='A'><input class='form-control' type='radio' name='question_9'>A <i class="fa fa-check" aria-hidden="true"></i></label>
            <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='I'><input class='form-control' type='radio' name='question_9'>I <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_9"><textarea class="form-control" id="reason_question_9" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
  </tbody>
</table>
<hr class="style1">
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>