<p class="text-justify">Es importante para nosotros conocer sus impresiones sobre la atención que han recibido en el colegio en el año <span id="semester"></span>. Nuestro propósito es detectar fallas y poder corregirlas o fortalecer el reconocimiento que damos a las personas que trabajan en la institución.</p>
<p class="text-justify font-weight-bold">Instrucciones:</p>
<p class="text-justify">Consulte con su hijo(a) en caso necesario y seleccione el concepto correspondiente sobre la <label class="font-weight-bold"><span id="psychologist"></span>)</label> (<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> =  Regular). <!-- Si no ha tenido contacto con las personas a evaluar, seleccione el  concepto <strong>NA</strong> (No aplica) .--> En caso de que su evaluación sea regular, les  solicitamos realizar los comentarios correspondientes.</p>
<p class="text-justify"><strong>1. Opinión sobre el(la) <span class="psychologisttipe"></span>:</strong></p>
<table class = 'table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' id="label_question_1"><strong>1.&nbsp;</strong>El nivel de cordialidad de el(la) <span class="psychologisttipe"></span> al atenderlos ha sido</td>
      <td class='celValue text-center' width="300px">
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_2"><strong>2.&nbsp;</strong>La orientación y apoyo por parte de el(la) <span class="psychologisttipe"></span> para ayudar a su hijo(a) a superar las dificultades han sido</td>
      <td class='celValue text-center' width="300px">
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_3"><strong>3.&nbsp;</strong>¿Recibieron información oportuna de la atención a su hijo(a) <strong>por parte de el(la) <span class="psychologisttipe"></span> o del director de curso?</strong></td>
      <td class='celValue text-center' width="300px">
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestiony question_3' data-val='Si'><input class='form-control' type='radio' name='question_3'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestiony question_3' data-val='No'><input class='form-control' type='radio' name='question_3'>No <i class="fa fa-times" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
  </tbody>
</table>
<!-- <p class="text-feft">Nota:</p>
<p class="text-center">"La <span class="psychologisttipe"></span> conocerá los conceptos emitidos, pero no los nombres de los estudiantes que los escribieron"</p> -->
<hr class="style1">
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>