<p>Cordial Saludo.</p>
<p>
  Con el propósito de mejorar continuamente la calidad del servicio, deseamos conocer su concepto acerca de la atención
  brindada durante el proceso de Admisiones.
</p>
<!-- <div class='celValue'>
  <ol> -->
    <p>Les solicitamos el favor de evaluar los siguientes aspectos seleccionando la casilla correspondiente:</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular).</p>
<!--   </ol>
  </p>
   <p>¡Gracias por su colaboración!</p> 
</div> -->


  <p align="center"><strong>CANALES DE INFORMACIÓN.</strong></p>
  <p align="center"><strong>¿A través de qué medio obtuvo información del proceso de Admisión?</strong></p>

  <ol>
    <div class='celValue' id="label_question_11">
      <strong> - </strong> Página Web
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestionYes question_11' data-val='Si'><input
          class='form-control' type='radio' name='question_11'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestionYes question_11' data-val='No'><input class='form-control'
          type='radio' name='question_11'>No <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="animated fadeInDown d-none" id="div_webpage">
      <div class='celValue' id="label_question_12">
        <strong> - </strong> La información publicada en la página les permitió orientarse de manera:
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_12' data-val='E'><input class='form-control'
            type='radio' name='question_12'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_12' data-val='B'><input class='form-control'
            type='radio' name='question_12'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_12' data-val='R'><input class='form-control'
            type='radio' name='question_12'>R <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_12"><textarea class="form-control"
          id="reason_question_12" placeholder="Motivo" rows="2"></textarea></div>
    </div>
  </ol>


  <ol>
  <div class='celValue' id="label_question_7">
    <strong> - </strong> Teléfono
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestionYes question_7' data-val='Si'><input class='form-control'
        type='radio' name='question_7'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestionYes question_7' data-val='No'><input class='form-control'
        type='radio' name='question_7'>No <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>

  <div class="animated fadeInDown d-none" id="div_telephone">
    <div class='celValue' id="label_question_8">
      <strong> - </strong> El tiempo de espera para ser atendido fue:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control'
          type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control'
          type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='R'><input class='form-control'
          type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control"
        id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_9">
      <strong> - </strong> La actitud y cordialidad de la persona que atendió su llamada fue:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='E'><input class='form-control'
          type='radio' name='question_9'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='B'><input class='form-control'
          type='radio' name='question_9'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='R'><input class='form-control'
          type='radio' name='question_9'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_9"><textarea class="form-control"
        id="reason_question_9" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_10">
      <strong> - </strong> La información brindada aclaró todas las inquietudes de manera:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_10' data-val='E'><input class='form-control'
          type='radio' name='question_10'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_10' data-val='B'><input class='form-control'
          type='radio' name='question_10'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='R'><input class='form-control'
          type='radio' name='question_10'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_10"><textarea class="form-control"
      id="reason_question_10" placeholder="Motivo" rows="2"></textarea></div>
</ol>



<ol>
  <div class='celValue' id="label_question_18">
    <strong> - </strong> WhatsApp
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestionYes question_18' data-val='Si'><input
        class='form-control' type='radio' name='question_18'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestionYes question_18' data-val='No'><input class='form-control'
        type='radio' name='question_18'>No <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>

  <div class="animated fadeInDown d-none" id="div_watsaap">
    <div class='celValue' id="label_question_19">
      <strong> - </strong> El tiempo de espera para responder su mensaje fue : 
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_19' data-val='E'><input class='form-control'
          type='radio' name='question_19'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_19' data-val='B'><input class='form-control'
          type='radio' name='question_19'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_19' data-val='R'><input class='form-control'
          type='radio' name='question_19'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_19"><textarea class="form-control"
        id="reason_question_19" placeholder="Motivo" rows="2"></textarea>
    </div>

    <div class='celValue' id="label_question_20">
      <strong> - </strong> La información que se compartio a través de este medio fue clara y facil de entender: 
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_20' data-val='E'><input class='form-control'
          type='radio' name='question_20'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_20' data-val='B'><input class='form-control'
          type='radio' name='question_20'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_20' data-val='R'><input class='form-control'
          type='radio' name='question_20'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_20"><textarea class="form-control"
        id="reason_question_20" placeholder="Motivo" rows="2"></textarea>
    </div>
  </div>
</ol>

<ol>
  <div class='celValue' id="label_question_21">
    <strong> - </strong> Redes
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestionYes question_21' data-val='Si'><input
        class='form-control' type='radio' name='question_21'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestionYes question_21' data-val='No'><input class='form-control'
        type='radio' name='question_21'>No <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>

  <div class="animated fadeInDown d-none" id="div_redes">
    <div class='celValue' id="label_question_22">
      <strong> - </strong> Instagram
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_22' data-val='Si'><input class='form-control'
          type='radio' name='question_22'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_22' data-val='No'><input class='form-control'
          type='radio' name='question_22'>No <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>

    <div class='celValue' id="label_question_23">
      <strong> - </strong> Facebook
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_23' data-val='Si'><input class='form-control'
          type='radio' name='question_23'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_23' data-val='No'><input class='form-control'
          type='radio' name='question_23'>No <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>

    <div class='celValue' id="label_question_24">
      <strong> - </strong> Youtube
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_24' data-val='Si'><input class='form-control'
          type='radio' name='question_24'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_24' data-val='No'><input class='form-control'
          type='radio' name='question_24'>No <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class='celValue' id="label_question_25">
      <strong> - </strong> Como fue su experiencia :
    </div>
    <div class="input-group p-2 animated fadeInDown" id="div_question_25"><textarea class="form-control"
      id="reason_question_25" placeholder="Experiencia..." rows="2"></textarea>
  </div>

  </div>


</ol>

<ol>
  <p align="center"><strong>SOBRE LA ENTREVISTA</strong></p>
  <div class='celValue' id="label_question_1">
    <strong> - </strong> El tiempo de espera para ser atendidos por la Psicóloga, de acuerdo a la fecha y hora
    programada fue:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control'
        type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control'
        type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control'
        type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control"
      id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_2">
    <strong> - </strong> La actitud y cordialidad de la Psicóloga fue:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control'
        type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control'
        type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control'
        type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control"
      id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> - </strong> La información brindada aclaró todas las inquietudes de manera:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control'
        type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control'
        type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control'
        type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control"
      id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>

</ol>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->

<ol>
  <div class="animated fadeInDown d-none" id="div_pedag">
    <p align="center"><strong>PRUEBA ACADÉMICA</strong></p>
    <div class='celValue' id="label_question_4">
      <strong> - </strong> La organización al presentar la evaluación fue:
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control'
          type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control'
          type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control'
          type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control"
        id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_5">
      <strong> - </strong> La actitud y cordialidad de la docente fue:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control'
          type='radio' name='question_5'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='B'><input class='form-control'
          type='radio' name='question_5'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='R'><input class='form-control'
          type='radio' name='question_5'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control"
        id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_6">
      <strong> - </strong> La opinión de su hijo(a) sobre la evaluación fue:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control'
          type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control'
          type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='R'><input class='form-control'
          type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control"
        id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
  </div>
</ol>

<!-- --------------------------------------------------------------------------------------------------------------------------- -->
<ol>
  <p align="center"><strong>RECORRIDO POR LAS INSTALACIONES</strong></p>


  <div class='celValue' id="label_question_13">
    <strong> - </strong> ¿Ustedes realizaron el recorrido por las instalaciones?
  </div>

  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestionYes question_13' data-val='Si'><input
        class='form-control' type='radio' name='question_13'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestionYes question_13' data-val='No'><input class='form-control'
        type='radio' name='question_13'>No <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>

  <div class="animated fadeInDown d-none" id="div_recorrido">


    <div class='celValue' id="label_question_14">

      <strong> - </strong> El tiempo de espera para ser atendidos de acuerdo con la fecha y hora programada fue :

    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_14' data-val='E'><input class='form-control'
          type='radio' name='question_14'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_14' data-val='B'><input class='form-control'
          type='radio' name='question_14'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_14' data-val='R'><input class='form-control'
          type='radio' name='question_14'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>


    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_14"><textarea class="form-control"
        id="reason_question_14" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_15">
      <strong> - </strong> La actitud y cordialidad de la persona que guio el recorrido fue:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_15' data-val='E'><input class='form-control'
          type='radio' name='question_15'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_15' data-val='B'><input class='form-control'
          type='radio' name='question_15'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_15' data-val='R'><input class='form-control'
          type='radio' name='question_15'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_15"><textarea class="form-control"
        id="reason_question_15" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_16">
      <strong> - </strong>El recorrido permitio conocer las instalaciones del colegio de manera:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_16' data-val='E'><input class='form-control'
          type='radio' name='question_16'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_16' data-val='B'><input class='form-control'
          type='radio' name='question_16'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_16' data-val='R'><input class='form-control'
          type='radio' name='question_16'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_16"><textarea class="form-control"
        id="reason_question_16" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_17">
      <strong> - </strong>Considera que las instalaciones cumplen sus expectativas para el desarrollo integral de los
      niños :
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_17' data-val='E'><input class='form-control'
          type='radio' name='question_17'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_17' data-val='B'><input class='form-control'
          type='radio' name='question_17'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_17' data-val='R'><input class='form-control'
          type='radio' name='question_17'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_17"><textarea class="form-control"
        id="reason_question_17" placeholder="Motivo" rows="2"></textarea></div>
  
  </div>
</ol>

<p><strong>¿Qué observaciones o sugerencias tienen para mejorar el proceso?</strong></p>

<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation"
        placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p>Agradecemos su colaboraci&oacute;n.</p>
<p class="justify-content-center" style="text-align: center;"><strong>DEPARTAMENTO DE ADMISIONES Y MATR&Iacute;CULAS <br /></strong><strong>COLEGIO ANGLO AMERICANO</strong></p>