<div>

<p><span>Reciban un cordial saludo</span></p>
<!-- <p><span > <div class="alert alert-success">
Lamentamos informarles que por temas administrativos no se pudo enviar la ‘ENCUESTA DE PADRES Y ESTUDIANTES SOBRE ACTIVIDADES ON LINE’ el día 16 de octubre. Estamos realizando la publicación el día de hoy y estará disponible hasta el 21 del presente mes.<br>
Les recordamos que la información corresponde a la semana del 13 al 16 de octubre.
 </div></span></p> -->

<!-- <p><span>Debido a un problema t&eacute;cnico la encuesta correspondiente a la <strong>semana del 8 al 12</strong> de marzo no quedo registrada, les ofrecemos disculpas y les solicitamos el favor de ingresar a continuaci&oacute;n las observaciones o inconformidades presentadas durante esta semana.</span></p> -->


<p><span>Con el prop&oacute;sito de realizar un seguimiento a las clases virtuales, les solicitamos registrar sus observaciones en caso de inconformidades presentadas durante la semana, por este mismo medio.</span></p>



<p><span>Esta informaci&oacute;n primero nos permitir&aacute; mejorar nuestras estrategias pedag&oacute;gicas y redundar&aacute; en beneficio de sus hijos.&nbsp;</span></p>
<p><span>Si consideran que no hay raz&oacute;n para registrar observaciones, daremos por entendido que no se presentaron inconvenientes.&nbsp;</span></p>
</div>
<p>&nbsp;</p>
<div class="row p-1">
  <div class="col-md-12" id="table_charge">
  </div>
</div>
<p>&nbsp;</p>
<p>Gracias por su colaboraci&oacute;n.</p>
<p><strong>COLEGIO ANGLO AMERICANO</strong></p>
