<p class="text-justify">Deseamos conocer sus impresiones sobre el show de talentos que se realizó el <span id="semester"></p>
<p class="text-justify font-weight-bold">Instrucciones:</p>
<p class="text-justify">Le solicitamos por favor evaluar los siguientes aspectos, seleccionando la casilla correspondiente<!-- <label class="font-weight-bold"><span id="psychologist"></span>)</label> --> (<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> =  Regular). <!-- Si no ha tenido contacto con las personas a evaluar, seleccione el  concepto <strong>NA</strong> (No aplica) .--></p>
<!--<p class="text-justify"><strong>1. Opinión sobre el show de talento (la) <span class="psychologisttipe"></span>:</strong></p> -->
<table class = 'table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' id="label_question_1"><strong>1.&nbsp;</strong>¿Cuál es su opinión acerca de la capacidad de invitados para atender el evento en el colegio?</td>
      <!-- <td class='celValue' id="label_question_1"><strong>1.&nbsp;</strong>El nivel de cordialidad de la <span class="psychologisttipe"></span> al atenderlos ha sido</td> -->
      <td class='celValue text-center' width="300px">
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_2"><strong>2.&nbsp;</strong>¿Cuál es su opinión acerca de la idoneidad del espacio para la presentación que se llevó a cabo?</td>
      <!-- <td class='celValue' id="label_question_2"><strong>2.&nbsp;</strong>La orientación y apoyo por parte de la <span class="psychologisttipe"></span> para ayudar a su hijo(a) a superar las dificultades han sido</td> -->
      <td class='celValue text-center' width="300px">
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
    <td class='celValue' id="label_question_3"><strong>3.&nbsp;</strong>¿Cuál es su percepción acerca de la preparación de los actos presentados en el show de talentos?</strong></td>
      <td class='celValue text-center' width="300px">
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
  </tbody>
</table>
 <p class="text-feft">Observaciones.</p>
<!-- <p class="text-center">"La <span class="psychologisttipe"></span> conocerá los conceptos emitidos, pero no los nombres de los estudiantes que los escribieron"</p>  -->
<hr class="style1">
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p> 