<!--2024 --------------------------------------------------------------------------------------------------------------------------- -->
<p>Queridos padres de familia y estudiantes:</p>
<p>Con el deseo de mejorar la calidad de nuestro servicio, les solicitamos diligenciar esta encuesta.</p>
<p>&nbsp;</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Les solicitamos el favor de evaluar los siguientes aspectos, seleccionando la casilla correspondiente</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular; <strong>M</strong> = Malo).</p>
  </ol>
</p>
</div>
<hr class="style1">
<ol>
  <p><strong>A. MONITORA</strong></p>
  <p>Es la persona encargada del cuidado, control y vigilancia de los estudiantes dentro del bus. Tiene la facultad de realizar llamados de atención de inmediato cuando observe fallas en el comportamiento de los estudiantes en su ruta, quienes deberán atenderlos en forma respetuosa.</p> 
  <div class='celValue' id="label_question_1">
    <strong> 1. </strong> ¿Cómo califican la amabilidad por parte de la monitora? 
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='M'><input class='form-control' type='radio' name='question_1'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_2">
    <strong> 2. </strong> El respeto de la monitora en el trato con su hijo(a) ha sido:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='M'><input class='form-control' type='radio' name='question_2'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> 3. </strong>La comunicación con la monitora a través del celular ha sido:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='M'><input class='form-control' type='radio' name='question_3'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>

<!-- 
  <div class='celValue' id="label_question_4">
    <strong> 4. </strong>La comunicación con la monitora a través del celular ha sido:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div> -->
  <hr class="style1">
</ol>


  <!-- --------------------------------------------------------------------------------------------------------------------------- -->
  <ol>
  <p><strong>B. COORDINADORA DE ZONA</strong></p>
  <p>Es la persona encargada de atender desde la oficina, todas sus inquietudes y solicitudes con respecto al servicio.</p> 
  <div class='celValue' id="label_question_5">
    <strong> 1. </strong>¿Han hecho alguna sugerencia o comentario sobre el servicio de transporte a la Coordinadora de Zona?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='SI'><input class='form-control' type='radio' name='question_5'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='NO'><input class='form-control' type='radio' name='question_5'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="d-none animated fadeInDown" id="options_question_5">
    <div class='celValue' id="label_question_6">
      <strong> 2. </strong>¿Cómo califican la atención a las sugerencias, solicitudes y seguimientos por parte de la Coordinadora de Zona? 
<!--       (si no ha tenido contacto con la Coordinadora de Zona, por favor señalar N/A) -->
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control' type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='R'><input class='form-control' type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='M'><input class='form-control' type='radio' name='question_6'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-dark btn-sm optionQuestion question_6' data-val='N/A'><input class='form-control' type='radio' name='question_6'>N/A <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
    <!-- <div class='celValue' id="label_question_7">
      <strong> 3. </strong>¿Han recibido atención oportuna a sus solicitudes?
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestionYES question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestionYES question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div> -->
  </div> 
</ol>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->
<hr class="style1">
<ol>
  <p><strong>C. CONDUCTOR</strong></p>

    <div class='celValue' id="label_question_4">
      <strong> 1. </strong> ¿Cómo califican la labor del conductor? 
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-dark btn-sm optionQuestion question_4' data-val='N/A'><input class='form-control' type='radio' name='question_4'>N/A <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>
</ol>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<hr class="style1">
<ol>
  <p><strong>C. SERVICIO</strong></p>
  <p>Para evaluar este ítem, por favor tener en cuenta las políticas y condiciones establecidas en el contrato de transporte.</p> 
  <div class='celValue' id="label_question_8">
    <strong> 1. </strong>La puntualidad para recoger al(los) estudiante(s) es:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control' type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='R'><input class='form-control' type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='M'><input class='form-control' type='radio' name='question_8'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_9">
    <strong> 2. </strong>Qué tan satisfechos están con el servicio de Transporte en general:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='E'><input class='form-control' type='radio' name='question_9'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='B'><input class='form-control' type='radio' name='question_9'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='R'><input class='form-control' type='radio' name='question_9'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='M'><input class='form-control' type='radio' name='question_9'>M<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_9"><textarea class="form-control" id="reason_question_9" placeholder="Motivo" rows="2"></textarea></div>
  
  <div class='celValue' id="label_question_10">
    <strong> 3. </strong>¿Considera que el servicio de transporte del colegio es seguro?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_10' data-val='E'><input class='form-control' type='radio' name='question_10'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_10' data-val='B'><input class='form-control' type='radio' name='question_10'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='R'><input class='form-control' type='radio' name='question_10'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='M'><input class='form-control' type='radio' name='question_10'>M<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_10"><textarea class="form-control" id="reason_question_10" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_7">
    <strong> 4. </strong>¿Recomendarían el servicio de transporte del colegio a otros padres de familia?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="d-none animated fadeInDown" id="options_question_7">
    <br>
    <textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea>
  </div>




</ol>

<!-- --------------------------------------------------------------------------------------------------------------------------- -->
<ol>
  <p><strong>D. APLICATIVO</strong></p>
  <p>Es el programa de seguimiento satelital a la ruta.</p> 
  <div class='celValue' id="label_question_11">
    <strong> 1. </strong> ¿Ustedes cuentan con el aplicativo de Bus EsCool?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_11' data-val='SI'><input class='form-control' type='radio' name='question_11'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_11' data-val='NO'><input class='form-control' type='radio' name='question_11'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
<div class="d-none animated fadeInDown" id="options_question_11">
    <div class='celValue' id="label_question_12">
      <strong> - </strong> En un rango de 1 a 5, por favor evalúe el servicio de Bus EsCool, siendo 5 muy satisfactorio
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-danger btn-sm optionQuestion1a5 question_12' data-val='1'><input class='form-control' type='radio' name='question_12'>1 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion1a5 question_12' data-val='2'><input class='form-control' type='radio' name='question_12'>2 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-info btn-sm optionQuestion1a5 question_12' data-val='3'><input class='form-control' type='radio' name='question_12'>3 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion1a5 question_12' data-val='4'><input class='form-control' type='radio' name='question_12'>4 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-success btn-sm optionQuestion1a5 question_12' data-val='5'><input class='form-control' type='radio' name='question_12'>5 <i class="fa fa-check" aria-hidden="true"></i></label>
     <!--<label class='btn btn-outline-dark btn-sm optionQuestion1a5 question_12' data-val='N/A'><input class='form-control' type='radio' name='question_12'>N/A <i class="fa fa-check" aria-hidden="true"></i></label>-->
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_12"><textarea class="form-control" id="reason_question_12" placeholder="Motivo" rows="2"></textarea></div> 


  <div class="animated fadeInDown">
    <div class='celValue' id="label_question_13">
      <strong> 2. </strong> ¿Recomendarían la aplicación a otros padres de familia?
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_13' data-val='SI'><input class='form-control' type='radio' name='question_13'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_13' data-val='NO'><input class='form-control' type='radio' name='question_13'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="options_question_13"><textarea class="form-control" id="reason_question_13" placeholder="Motivo" rows="2"></textarea></div>
  </div>
</div>



</ol>

<p>Agradecemos su colaboraci&oacute;n.</p>
<p><strong></strong><strong>COLEGIO ANGLO AMERICANO</strong></p>

<!--2023 --------------------------------------------------------------------------------------------------------------------------- -->
<!-- 
<p>Queridos padres de familia y estudiantes:</p>
<p>Con el deseo de mejorar la calidad de nuestro servicio, les solicitamos diligenciar esta encuesta.</p>

<p>&nbsp;</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Les solicitamos el favor de evaluar los siguientes aspectos, seleccionando la casilla correspondiente</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular; <strong>M</strong> = Malo).</p>
  </ol>
</p>
</div>
<hr class="style1">
<ol>
  <p><strong>A. MONITORA</strong></p>
  <p>Es la persona encargada del cuidado, control y vigilancia de los estudiantes dentro del bus. Tiene la facultad de realizar llamados de atención de inmediato cuando observe fallas en el comportamiento de los estudiantes en su ruta, quienes deberán atenderlos en forma respetuosa.</p> 
  <div class='celValue' id="label_question_1">
    <strong> 1. </strong> ¿Cómo califican la cordialidad por parte de la monitora?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='M'><input class='form-control' type='radio' name='question_1'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_2">
    <strong> 2. </strong> La monitora hace cumplir las normas establecidas en el Manual de Convivencia de forma:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='M'><input class='form-control' type='radio' name='question_2'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> 3. </strong>El respeto de la monitora en el trato con su  hijo(a) ha sido:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='M'><input class='form-control' type='radio' name='question_3'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>


  <div class='celValue' id="label_question_4">
    <strong> 4. </strong>La comunicación con la monitora a través del celular ha sido:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_13">
    <strong> 5. </strong>La monitora hace cumplir los protocolos de Bioseguridad de acuerdo a la normatividad legal vigente, de manera:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_13' data-val='E'><input class='form-control' type='radio' name='question_13'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_13' data-val='B'><input class='form-control' type='radio' name='question_13'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_13' data-val='R'><input class='form-control' type='radio' name='question_13'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_13' data-val='M'><input class='form-control' type='radio' name='question_13'>M<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_13"><textarea class="form-control" id="reason_question_13" placeholder="Motivo" rows="2"></textarea></div>
  <hr class="style1">
</ol>
<ol>
  <p><strong>B. COORDINADORA DE ZONA</strong></p>
  <p>Es la persona encargada de atender desde la oficina, todas sus inquietudes y solicitudes con respecto al servicio.</p> 
  <div class='celValue' id="label_question_5">
    <strong> 1. </strong>¿Han tenido contacto directo con la coordinadora de zona para atender sus inquietudes?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='SI'><input class='form-control' type='radio' name='question_5'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='NO'><input class='form-control' type='radio' name='question_5'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="d-none animated fadeInDown" id="options_question_5">
    <div class='celValue' id="label_question_6">
      <strong> 2. </strong>La disposición de la Coordinadora de Zona para atenderlos ha sido? 
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control' type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='R'><input class='form-control' type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='M'><input class='form-control' type='radio' name='question_6'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-dark btn-sm optionQuestion question_6' data-val='N/A'><input class='form-control' type='radio' name='question_6'>N/A <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
    <div class='celValue' id="label_question_7">
      <strong> 3. </strong>¿Han recibido atención oportuna a sus solicitudes?
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestionYES question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestionYES question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
  </div> 
</ol>

<hr class="style1">
<ol>
  <p><strong>C. SERVICIO</strong></p>
  <p>Para evaluar este ítem, por favor tener en cuenta las políticas y condiciones establecidas en el contrato de transporte.</p> 
  <div class='celValue' id="label_question_8">
    <strong> 1. </strong>La puntualidad de la ruta es:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control' type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='R'><input class='form-control' type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='M'><input class='form-control' type='radio' name='question_8'>M <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_9">
    <strong> 2. </strong>La labor del conductor es:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='E'><input class='form-control' type='radio' name='question_9'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='B'><input class='form-control' type='radio' name='question_9'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='R'><input class='form-control' type='radio' name='question_9'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='M'><input class='form-control' type='radio' name='question_9'>M<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_9"><textarea class="form-control" id="reason_question_9" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_14">
    <strong> 3. </strong> ¿Tomaba el servicio en el año anterior?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_14' data-val='SI'><input class='form-control' type='radio' name='question_14'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_14' data-val='NO'><input class='form-control' type='radio' name='question_14'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="d-none animated fadeInDown" id="options_question_14">
    <div class='celValue' id="label_question_15">
      <strong> 3.1. </strong> Considera que los modelos de los móviles han mejorado?
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestionYES question_15' data-val='SI'><input class='form-control' type='radio' name='question_15'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestionYES question_15' data-val='NO'><input class='form-control' type='radio' name='question_15'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_15"><textarea class="form-control" id="reason_question_15" placeholder="Motivo" rows="2"></textarea></div>
  </div>
  
  <div class='celValue' id="label_question_10">
    <strong> 4. </strong>El servicio en general es:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_10' data-val='E'><input class='form-control' type='radio' name='question_10'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_10' data-val='B'><input class='form-control' type='radio' name='question_10'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='R'><input class='form-control' type='radio' name='question_10'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='M'><input class='form-control' type='radio' name='question_10'>M<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_10"><textarea class="form-control" id="reason_question_10" placeholder="Motivo" rows="2"></textarea></div>



</ol>


<ol>
  <p><strong>D. APLICATIVO</strong></p>
  <p>Es el programa de seguimiento satelital a la ruta.</p> 
  <div class='celValue' id="label_question_11">
    <strong> 1. </strong> ¿Ustedes cuentan con el aplicativo de Bus EsCool?
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_11' data-val='SI'><input class='form-control' type='radio' name='question_11'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_11' data-val='NO'><input class='form-control' type='radio' name='question_11'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="d-none animated fadeInDown" id="options_question_11">
    <div class='celValue' id="label_question_12">
      <strong> 2. </strong> En un rango de 1 a 5, por favor evalúe el servicio de Bus EsCool, siendo 5 muy satisfactorio
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-danger btn-sm optionQuestion1a5 question_12' data-val='1'><input class='form-control' type='radio' name='question_12'>1 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion1a5 question_12' data-val='2'><input class='form-control' type='radio' name='question_12'>2 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-info btn-sm optionQuestion1a5 question_12' data-val='3'><input class='form-control' type='radio' name='question_12'>3 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion1a5 question_12' data-val='4'><input class='form-control' type='radio' name='question_12'>4 <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-success btn-sm optionQuestion1a5 question_12' data-val='5'><input class='form-control' type='radio' name='question_12'>5 <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_12"><textarea class="form-control" id="reason_question_12" placeholder="Motivo" rows="2"></textarea></div> 
  </div>
</ol>

<p>Agradecemos su colaboraci&oacute;n.</p>
<p><strong></strong><strong>COLEGIO ANGLO AMERICANO</strong></p> -->
<!--2020 --------------------------------------------------------------------------------------------------------------------------- -->
<!-- 
<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<p>
   Con el deseo de mejorar la calidad de nuestro servicio, les solicitamos diligenciar esta encuesta teniendo en cuenta que se evalúa únicamente el servicio prestado durante el presente año.
</p>

<p>&nbsp;</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Les solicitamos el favor de evaluar los siguientes aspectos, seleccionando la casilla correspondiente</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular).</p>
  </ol>
</p>

</div>
<hr class="style1">
<ol>
    <p><strong>A. MONITORA</strong> Es la persona encargada del cuidado, control y vigilancia de los niños dentro del bus. Tiene la facultad de realizar llamados de atención de inmediato cuando observe fallas en el comportamiento de los estudiantes en su ruta, quienes deberán atenderlos en forma respetuosa.</p> 
  <div class='celValue' id="label_question_1">
    <strong> 1. </strong> ¿Cómo califican ustedes la cordialidad por parte de la monitora?
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_2">
    <strong> 2. </strong> La monitora hace cumplir las normas establecidas en el Manual de Convivencia de forma:
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> 3. </strong>El respeto de la monitora en el trato con su  hijo(a) ha sido:
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>

</ol>

<ol>
  <div class='celValue' id="label_question_4">
    <strong> 4. </strong>La comunicación con la monitora a través del celular ha sido:
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>
<hr class="style1">

    <p><strong>B. COORDINADORA DE ZONA</strong> Es la persona encargada de atender desde la oficina, todas sus inquietudes y solicitudes con respecto al servicio.</p> 
  <div class='celValue' id="label_question_5">
    <strong> 1. </strong>¿Ustedes han tenido contacto con la coordinadora de zona durante el presente año?
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='SI'><input class='form-control' type='radio' name='question_5'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='NO'><input class='form-control' type='radio' name='question_5'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
  <div class='celValue' id="label_question_6">
    <strong> 2. </strong>La disposición de la Coordinadora de Zona para atender sus inquietudes ha sido? 
   (si no ha tenido contacto con la Coordinadora de Zona, por favor señalar N/A)
 
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control' type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='R'><input class='form-control' type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-dark btn-sm optionQuestion question_6' data-val='N/A'><input class='form-control' type='radio' name='question_6'>N/A <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
</ol>
<ol>
  <div class='celValue' id="label_question_7">
    <strong> 3. </strong>¿Han recibido atención oportuna a sus solicitudes?
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestionYES question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestionYES question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>

    <hr class="style1">
    <p><strong>C. SERVICIO</strong> Por favor tener en cuenta las políticas y condiciones establecidas en el contrato de transporte, al momento de evaluar el servicio.</p> 
  <div class='celValue' id="label_question_8">
    <strong> 1. </strong>La puntualidad de la ruta es:
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control' type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='R'><input class='form-control' type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_9">
    <strong> 2. </strong>La labor del conductor es:
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='E'><input class='form-control' type='radio' name='question_9'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='B'><input class='form-control' type='radio' name='question_9'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='R'><input class='form-control' type='radio' name='question_9'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_9"><textarea class="form-control" id="reason_question_9" placeholder="Motivo" rows="2"></textarea></div>

</ol>

<ol>
    <p><strong>D. APLICATIVO</strong>Es el programa de seguimiento satelital a la ruta.</p> 
  <div class='celValue' id="label_question_10">
    <strong> 1. </strong> ¿Ustedes cuentan con el aplicativo de Bus EsCool?
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_10' data-val='SI'><input class='form-control' type='radio' name='question_10'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='NO'><input class='form-control' type='radio' name='question_10'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
  <div class='celValue' id="label_question_11">
    <strong> 2. </strong> En un rango de 1 a 5, por favor evalúe el servicio de Bus EsCool, siendo 5 muy satisfactorio
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-danger btn-sm optionQuestion1a5 question_11' data-val='1'><input class='form-control' type='radio' name='question_11'>1 <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion1a5 question_11' data-val='2'><input class='form-control' type='radio' name='question_11'>2 <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-info btn-sm optionQuestion1a5 question_11' data-val='3'><input class='form-control' type='radio' name='question_11'>3 <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion1a5 question_11' data-val='4'><input class='form-control' type='radio' name='question_11'>4 <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-success btn-sm optionQuestion1a5 question_11' data-val='5'><input class='form-control' type='radio' name='question_11'>5 <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-dark btn-sm optionQuestion1a5 question_11' data-val='N/A'><input class='form-control' type='radio' name='question_11'>N/A <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_11"><textarea class="form-control" id="reason_question_11" placeholder="Motivo" rows="2"></textarea></div>
</ol>

<p>Agradecemos su colaboraci&oacute;n.</p>
<p><strong></strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLEGIO ANGLO AMERICANO</strong></p>


-->

<!--2019 --------------------------------------------------------------------------------------------------------------------------- -->
<!-- 
  <strong>2.</strong> Permitan que su hijo responda las siguientes preguntas:</p>
</div>
<ol>
  <div class='celValue' id="label_question_4">
    <p>¿Cómo me siento conmigo mismo(a) y con mi progreso personal y académico?</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control" id="question_4" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_5">
    <p>¿Percibo un apoyo constante de mis padres?</p>
  </div>  
  <div class="input-group p-2 "><textarea class="form-control" id="question_5" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_6">
    <p>¿Siento que aspectos externos afectan mi autoestima y estado de ánimo frecuentemente?</p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='SI'><input class='form-control' type='radio' name='question_6'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='NO'><input class='form-control' type='radio' name='question_6'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_7">
    <p>¿Siento que he analizado y reflexionado acerca de mis metas e ideales?</p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
</ol>
<div class='celValue'>
  <strong>3.</strong> Respondan tanto los padres como los estudiantes los siguientes aspectos:</p>
</div>
<ol>
  <div class='celValue' id="label_question_8">
    <p>Mencionen algunos aspectos positivos y negativos en la relación padre-hijo incluyendo aquellos vinculados con la comunicación.</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control " id="question_8" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_9">
    <p>Establezcan un compromiso a corto plazo para interactuar más frecuentemente, tocando temas de autoestima.</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control " id="question_9" placeholder="Motivo" rows="2"></textarea></div>
</ol>


<div class="col-md-12">
  <p class="text-left">Luego de realizar este ejercicio es de suma importancia volver a tratar los temas abordados con su hijo/a, diligencie el formato de la reflexión que encuentra a continuación y finalice el proceso dando clic en el botón enviar.</p>
</div>
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>
<p class="text-left">Comité de estudiantes grado 10°</p>