<p>&nbsp;</p>
<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<p>
   Con el propósito de mejorar continuamente la calidad del servicio, deseamos conocer su concepto acerca de la atención brindada por el personal de Admisiones.
</p>

<p>&nbsp;</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Les solicitamos el favor de evaluar los siguientes aspectos, seleccionando la casilla correspondiente</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular).</p>
  </ol>
</p>
<!-- <p>¡Gracias por su colaboración!</p> -->
</div>

<ol>
    <p><strong>SOBRE LA ENTREVISTADORA No 1: (Persona que recibe los documentos)</strong></p> 
  <div class='celValue' id="label_question_1">
    <strong> - </strong> La actitud y cordialidad fue:
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_2">
    <strong> - </strong> La respuesta brindada a sus inquietudes fue:
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> - </strong>El tiempo de espera para ser atendido fue de:
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>

</ol>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->

<ol>
    <p><strong>SOBRE LA ENTREVISTADORA No 2: (Persona que da información del Colegio)</strong></p> 
  <div class='celValue' id="label_question_4">
    <strong> - </strong> La actitud y cordialidad fue:
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_5">
    <strong> - </strong> La información suministrada aclaró todas sus inquietudes de manera:
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control' type='radio' name='question_5'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='B'><input class='form-control' type='radio' name='question_5'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='R'><input class='form-control' type='radio' name='question_5'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control" id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_6">
    <strong> - </strong>El tiempo de espera para ser atendido fue de: 
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control' type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='R'><input class='form-control' type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>

</ol>

<!-- --------------------------------------------------------------------------------------------------------------------------- -->
<ol>
    <p><strong>SOBRE LA ENTREVISTADORA No 3: (Psicóloga)</strong></p> 
  <div class='celValue' id="label_question_7">
    <strong> - </strong> La actitud y cordialidad fue:
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_7' data-val='E'><input class='form-control' type='radio' name='question_7'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='B'><input class='form-control' type='radio' name='question_7'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='R'><input class='form-control' type='radio' name='question_7'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_8">
    <strong> - </strong> La respuesta brindada a sus inquietudes fue:
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control' type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='R'><input class='form-control' type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_9">
    <strong> - </strong>El tiempo de espera para ser atendido fue de:
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='E'><input class='form-control' type='radio' name='question_9'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='B'><input class='form-control' type='radio' name='question_9'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='R'><input class='form-control' type='radio' name='question_9'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_9"><textarea class="form-control" id="reason_question_9" placeholder="Motivo" rows="2"></textarea></div>

</ol>

<!-- --------------------------------------------------------------------------------------------------------------------------- -->
<ol>
    <p><strong>SOBRE LA EVALUACIÓN PEDAGÓGICA</strong></p> 
  <div class='celValue' id="label_question_10">
    <strong> - </strong> La amabilidad y afectividad de la docente fue:
  </div>
    <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_10' data-val='E'><input class='form-control' type='radio' name='question_10'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_10' data-val='B'><input class='form-control' type='radio' name='question_10'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='R'><input class='form-control' type='radio' name='question_10'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_10"><textarea class="form-control" id="reason_question_10" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_11">
    <strong> - </strong> La organización de la evaluación fue:
  </div>
<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_11' data-val='E'><input class='form-control' type='radio' name='question_11'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_11' data-val='B'><input class='form-control' type='radio' name='question_11'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_11' data-val='R'><input class='form-control' type='radio' name='question_11'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_11"><textarea class="form-control" id="reason_question_11" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_12">
    <strong> - </strong>La opinión de su hijo(a) sobre la evaluación fue:
  </div>
      <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_12' data-val='E'><input class='form-control' type='radio' name='question_12'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_12' data-val='B'><input class='form-control' type='radio' name='question_12'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_12' data-val='R'><input class='form-control' type='radio' name='question_12'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_12"><textarea class="form-control" id="reason_question_12" placeholder="Motivo" rows="2"></textarea></div>

</ol>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->

<p><strong>¿Qué observaciones o sugerencias tienen para mejorar el proceso?</strong></p>

<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>



<p>Agradecemos su colaboraci&oacute;n.</p>
<p class="justify-content-center"><strong>DEPARTAMENTO DE ADMISIONES Y MATR&Iacute;CULAS <br /> </strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLEGIO ANGLO AMERICANO</strong></p>
<!-- div class='celValue'>
  <strong>2.</strong> Permitan que su hijo responda las siguientes preguntas:</p>
</div>
<ol>
  <div class='celValue' id="label_question_4">
    <p>¿Cómo me siento conmigo mismo(a) y con mi progreso personal y académico?</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control" id="question_4" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_5">
    <p>¿Percibo un apoyo constante de mis padres?</p>
  </div>  
  <div class="input-group p-2 "><textarea class="form-control" id="question_5" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_6">
    <p>¿Siento que aspectos externos afectan mi autoestima y estado de ánimo frecuentemente?</p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='SI'><input class='form-control' type='radio' name='question_6'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='NO'><input class='form-control' type='radio' name='question_6'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_7">
    <p>¿Siento que he analizado y reflexionado acerca de mis metas e ideales?</p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
</ol>
<div class='celValue'>
  <strong>3.</strong> Respondan tanto los padres como los estudiantes los siguientes aspectos:</p>
</div>
<ol>
  <div class='celValue' id="label_question_8">
    <p>Mencionen algunos aspectos positivos y negativos en la relación padre-hijo incluyendo aquellos vinculados con la comunicación.</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control " id="question_8" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_9">
    <p>Establezcan un compromiso a corto plazo para interactuar más frecuentemente, tocando temas de autoestima.</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control " id="question_9" placeholder="Motivo" rows="2"></textarea></div>
</ol>


<div class="col-md-12">
  <p class="text-left">Luego de realizar este ejercicio es de suma importancia volver a tratar los temas abordados con su hijo/a, diligencie el formato de la reflexión que encuentra a continuación y finalice el proceso dando clic en el botón enviar.</p>
</div>
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>
<p class="text-left">Comité de estudiantes grado 10°</p>