<p class="text-justify">Con el propósito de dar continuidad al seguimiento en la prestación de un servicio de calidad, deseamos conocer sus impresiones sobre la atención  que han recibido en el colegio durante el <span id="semester"></span>. Nuestro propósito es  detectar fallas y poder corregirlas o fortalecer el reconocimiento que damos a las personas que trabajan en la institución.</p>
<p class="text-justify"><strong>Les  solicitamos encarecidamente informarnos si recibieron una respuesta oportuna y  satisfactoria a sus quejas o sugerencias</strong>. Ustedes recibirán una comunicación  del departamento de Gestión de Calidad, aproximadamente quince (15) días  después de haber diligenciado la encuesta.</p>
<p class="text-justify font-weight-bold">Instrucciones:</p>
<p class="text-justify">Consulte con su hijo(a) en caso  necesario y seleccione los conceptos correspondientes sobre el director de curso, coordinadora de convivencia y personal docente. (<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> =  Regular). Si no ha tenido contacto con las personas a evaluar, seleccione el  concepto <strong>NA</strong> (No aplica). En caso de que su evaluación sea regular, les  solicitamos realizar los comentarios correspondientes.</p>
<p class="text-justify"><strong>1. Opinión sobre el(la) director(a) de curso:</strong></p>
<table class='table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='section_1' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' id="label_question_1">El nivel de cordialidad y eficiencia al atenderlos ha sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_2">El nivel de afectividad hacia su hijo(a) ha sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_3">El apoyo brindado por él(ella) en el proceso académico de su hijo(a) ha sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_4">La orientación y acompañamiento en los aspectos formativo y disciplinario por parte del director(a) de curso han sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_5">La exigencia en el cumplimiento de normas y deberes académicos ha sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control' type='radio' name='question_5'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='B'><input class='form-control' type='radio' name='question_5'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='R'><input class='form-control' type='radio' name='question_5'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control" id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_6">Si su hijo(a) ha presentado dificultades académicas, ¿ha recibido oportunamente la  información por parte del director(a) de curso?</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='Si'><input class='form-control' type='radio' name='question_6'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='No'><input class='form-control' type='radio' name='question_6'>No <i class="fa fa-times" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='NA'><input class='form-control' type='radio' name='question_6'>NA <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr class="style1">
<p class="text-justify"><strong>2. Opinión sobre la coordinadora de convivencia: <span id="coordinator"></span></strong> </p>
<table class = 'table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='section_2' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' id="label_question_7">El nivel de cordialidad y eficiencia al atenderlos ha sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_7' data-val='E'><input class='form-control' type='radio' name='question_7'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='B'><input class='form-control' type='radio' name='question_7'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='R'><input class='form-control' type='radio' name='question_7'>R <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-dark btn-sm optionQuestion question_7' data-val='NA'><input class='form-control' type='radio' name='question_7'>NA <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_8">La atención, asesoría y apoyo brindados a su hijo(a) en el aspecto formativo han sido</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control' type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='R'><input class='form-control' type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-dark btn-sm optionQuestion question_8' data-val='NA'><input class='form-control' type='radio' name='question_8'>NA <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_9">Si su hijo(a) ha cometido faltas disciplinarias, ¿ustedes han recibido información oportunamente?</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_9' data-val='Si'><input class='form-control' type='radio' name='question_9'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_9' data-val='No'><input class='form-control' type='radio' name='question_9'>No <i class="fa fa-times" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_9' data-val='NA'><input class='form-control' type='radio' name='question_9'>NA <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr class="style1">
<p class="text-justify"><strong>3. Opinión sobre la atención en secretaría (Recepción):</strong></p>
<table class = 'table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='section_3' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' id="label_question_10">¿El nivel de cordialidad y eficiencia al atenderlos ha sido?</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_10' data-val='E'><input class='form-control' type='radio' name='question_10'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_10' data-val='B'><input class='form-control' type='radio' name='question_10'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_10' data-val='R'><input class='form-control' type='radio' name='question_10'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
        <div class="input-group p-2 animated fadeInDown d-none" id="div_question_10"><textarea class="form-control" id="reason_question_10" placeholder="Motivo" rows="2"></textarea></div>
      </td>
    </tr>
  </tbody>
</table>


<hr class="style1">
<p class="text-justify" id="text_section_5"><strong>4.</strong> Opinión sobre la atención en enfermería: En caso de que su hijo(a) haya requerido atención en  enfermería por favor respondan las siguientes preguntas</p>
<table class = 'table table-responsive table-sm table-hover table-bordered table-striped animated fadeIn' id='section_5' style='font-size:16px;'>
  <thead class='thead-active text-center'>
    <tr>
      <th scope='col' style='text-align: center;'>Pregunta</th>  
      <th scope='col' style='text-align: center;'>Respuesta</th>  
    </tr>
  </thead>
  <tbody class=''>
    <tr>
      <td class='celValue' id="label_question_14">¿Están conformes con la atención que su hijo(a) ha recibido?</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_14' data-val='Si'><input class='form-control' type='radio' name='question_14'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_14' data-val='No'><input class='form-control' type='radio' name='question_14'>No <i class="fa fa-times" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_14' data-val='NA'><input class='form-control' type='radio' name='question_14'>NA <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
        </div>
      </td>
    </tr>
    <tr>
      <td class='celValue' id="label_question_15">¿Ustedes han recibido oportunamente la comunicación por internet?</td>
      <td class='celValue text-center'>
        <div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_15' data-val='Si'><input class='form-control' type='radio' name='question_15'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_15' data-val='No'><input class='form-control' type='radio' name='question_15'>No <i class="fa fa-times" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_15' data-val='NA'><input class='form-control' type='radio' name='question_15'>NA <i class="fa fa-dot-circle-o" aria-hidden="true"></i></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<hr class="style1">
<p class="text-justify"><strong>4. Opinión sobre el personal docente:</strong></p>
<p class="text-justify"><strong>Instrucciones:</strong></p>
<p class="text-justify">Seleccione los conceptos correspondientes a cada persona. (<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> =  Regular), teniendo en cuenta los siguientes aspectos:</p>
<p class="text-justify">
  <ul>
    <li type="disc">El nivel de cordialidad de la persona ha sido.</li>
    <li type="disc">La atención, asesoría y apoyo brindados a su hijo(a) en el aspecto académico han sido.</li>
    <li type="disc">La atención, asesoría y apoyo brindados a su hijo(a) en el aspecto formativo han sido.</li>
  </ul>
</p>
<div class="row p-1">
  <div class="col-md-12" id="table_teachers">
  </div>
</div>
<div class="row p-1">
  <div class="col-md-12">
    <p class="text-justify">El docente conocerá los conceptos emitidos por los estudiantes, pero no los nombres de los estudiantes que los escribieron.</p>
  </div>
</div>
<hr class="style1">
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>