<p>&nbsp;</p>
<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<p>
  Con el deseo de mejorar los procedimientos y la metodología implementados en las actividades enviadas para realizar el día de hoy, solicitamos su colaboración dando su concepto de acuerdo con lo expresado por su hijo(a).
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Consulte con su hijo(a) en caso necesario y seleccione el concepto correspondiente sobre la psicóloga</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular).</p>
  </ol>
</p>
<p>¡Gracias por su colaboración!</p>
</div>

<ol>
    <strong>1. </strong> <p>Las actividades programadas fueron:</p> 
  
  <div class='celValue' id="label_question_1">
  <p>- &nbsp;&nbsp;Variadas e interesantes </p>
  </div>
<div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestionYES question_1' data-val='SI'><input class='form-control' type='radio' name='question_1'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestionYES question_1' data-val='NO'><input class='form-control' type='radio' name='question_1'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>




  <div class='celValue' id="label_question_2">
    <p>- &nbsp;&nbsp;Variadas e interesantes </p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestionYES question_2' data-val='SI'><input class='form-control' type='radio' name='question_2'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestionYES question_2' data-val='NO'><input class='form-control' type='radio' name='question_2'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>



  <div class='celValue' id="label_question_3">
<p><strong>2. </strong> El acceso al módulo de “Recursos virtuales” fue:</p> 
  </div>

<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>


</ol>
 <p><strong>3. </strong>Comentarios</p> 

<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>


  <div class='celValue' id="label_question_4">
    <strong>Concepto final: </strong>  
  </div>

<div class="btn-group" data-toggle="buttons">
          <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
          <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>M <i class="fa fa-check" aria-hidden="true"></i></label>
        </div>
<!-- div class='celValue'>
  <strong>2.</strong> Permitan que su hijo responda las siguientes preguntas:</p>
</div>
<ol>
  <div class='celValue' id="label_question_4">
    <p>¿Cómo me siento conmigo mismo(a) y con mi progreso personal y académico?</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control" id="question_4" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_5">
    <p>¿Percibo un apoyo constante de mis padres?</p>
  </div>  
  <div class="input-group p-2 "><textarea class="form-control" id="question_5" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_6">
    <p>¿Siento que aspectos externos afectan mi autoestima y estado de ánimo frecuentemente?</p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='SI'><input class='form-control' type='radio' name='question_6'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='NO'><input class='form-control' type='radio' name='question_6'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_7">
    <p>¿Siento que he analizado y reflexionado acerca de mis metas e ideales?</p>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='SI'><input class='form-control' type='radio' name='question_7'>SI <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='NO'><input class='form-control' type='radio' name='question_7'>NO <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
</ol>
<div class='celValue'>
  <strong>3.</strong> Respondan tanto los padres como los estudiantes los siguientes aspectos:</p>
</div>
<ol>
  <div class='celValue' id="label_question_8">
    <p>Mencionen algunos aspectos positivos y negativos en la relación padre-hijo incluyendo aquellos vinculados con la comunicación.</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control " id="question_8" placeholder="Motivo" rows="2"></textarea></div>
  <div class='celValue' id="label_question_9">
    <p>Establezcan un compromiso a corto plazo para interactuar más frecuentemente, tocando temas de autoestima.</p>
  </div>
  <div class="input-group p-2 "><textarea class="form-control " id="question_9" placeholder="Motivo" rows="2"></textarea></div>
</ol>


<div class="col-md-12">
  <p class="text-left">Luego de realizar este ejercicio es de suma importancia volver a tratar los temas abordados con su hijo/a, diligencie el formato de la reflexión que encuentra a continuación y finalice el proceso dando clic en el botón enviar.</p>
</div>
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p class="text-left">Agradecemos su colaboración.</p>
<p class="text-left">Comité de estudiantes grado 10°</p>