<p><b>Estimado estudiante,</b></p> 
<p>Queremos conocer tu opinión sobre las clases virtuales que se dictaron durante el ciclo de aislamiento. Tu feedback es muy importante para mejorar la calidad de la educación. Por favor, responde las siguientes preguntas:</p>
<div class='celValue'>
  <b><p>Les solicitamos evaluar los siguientes aspectos, seleccionando la casilla correspondiente:</p></b> 
</div>

<ol>
  <div class='celValue' id="label_question_1">
    <strong>  1.Facilidad en la Conexión </strong><br/>¿Qué tan fácil fue conectarse a las clases virtuales?
  </div>
  <div class="btn-group mb-3" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='Muy_facil'><input class='form-control' type='radio' name='question_1'>Muy fácil<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='Facil'><input class='form-control' type='radio' name='question_1'>Fácil<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='Dificil'><input class='form-control' type='radio' name='question_1'>Difícil<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='Muy_dificil'><input class='form-control' type='radio' name='question_1'>Muy difícil<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none mb-3" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
  
  <div class='celValue' id="label_question_2">
    <strong> 2. Facilidad de Manejo de Teams </strong><br/>¿Qué tan fácil fue manejar Teams para las clases virtuales?
  </div>
  <div class="btn-group mb-3" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='Muy_facil'><input class='form-control' type='radio' name='question_2'>Muy fácil<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='Facil'><input class='form-control' type='radio' name='question_2'>Fácil<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='Dificil'><input class='form-control' type='radio' name='question_2'>Difícil<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='Muy_dificil'><input class='form-control' type='radio' name='question_2'>Muy difícil<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none  mb-3" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> 3. Claridad de los Temas</strong><br/>¿Cómo calificaría la claridad con la que se explicaron los temas durante las clases virtuales?
  </div>
  <div class="btn-group  mb-3" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='Muy_clara'><input class='form-control' type='radio' name='question_3'>Muy clara<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='Clara'><input class='form-control' type='radio' name='question_3'>Clara<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='Poco_clara'><input class='form-control' type='radio' name='question_3'>Poco clara<i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='Confusa'><input class='form-control' type='radio' name='question_3'>Confusa<i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none  mb-3" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div> 
    <div class='celValue' id="label_question_4">
      <strong> 4. Interacción con el Profesor</strong><br/>¿Cómo calificaría la interacción con el profesor durante las clases virtuales?
    </div>
    <div class="btn-group  mb-3" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>Excelente<i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>Buena <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>Regular <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>Mala <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none  mb-3" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_5">
      <strong> 5. Materiales de Apoyo </strong><br/>¿Cómo calificaría la calidad de los materiales de apoyo proporcionados (presentaciones, documentos, videos, etc.)?
    </div>
    <div class="btn-group  mb-3" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control' type='radio' name='question_5'>Excelente <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='B'><input class='form-control' type='radio' name='question_5'>Buena <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='R'><input class='form-control' type='radio' name='question_5'>Regular <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='M'><input class='form-control' type='radio' name='question_5'>Mala <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control" id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_6">
      <strong> 5. Horarios de las Clases</strong><br/>¿Cómo calificaría la conveniencia de los horarios de las clases virtuales?
    </div>
    <div class="btn-group  mb-3" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='Muy_convenientes'><input class='form-control' type='radio' name='question_6'>Muy convenientes <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='Convenientes'><input class='form-control' type='radio' name='question_6'>Convenientes <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='Poco_convenientes'><input class='form-control' type='radio' name='question_6'>Poco convenientes <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='Inconvenientes'><input class='form-control' type='radio' name='question_6'>Inconvenientes <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
</ol>
  <br/>
<p>Agradecemos su colaboraci&oacute;n.</p>
<p>COLEGIO ANGLO AMERICANO</b></p>
