<p>Apreciados padres de familia</p> 
<p>
 Con el propósito de mejorar continuamente la calidad del servicio, deseamos conocer su concepto acerca de la atención brindada durante el proceso de matrículas.
</p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Les solicitamos el favor de evaluar los siguientes aspectos, seleccionando la casilla correspondiente:</p>
    <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular).</p>
  </ol>
</p>
<!-- <p>¡Gracias por su colaboración!</p> -->
</div>

<ol>
  <p><strong></strong></p> 
  <div class='celValue' id="label_question_1">
    <strong>  1. </strong>La información enviada en la circular de matrículas fue:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_2">
    <strong> 2. </strong>El módulo para la actualización de datos funciona en forma:
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>

  <div class='celValue' id="label_question_3">
    <strong> 3. </strong>La información enviada en el instructivo para la legalización de la matrícula fue: 
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
    <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
  </div>
  <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->
  
    <p><strong></strong></p> 
    <div class='celValue' id="label_question_4">
      <strong> 4. </strong>El módulo para la impresión de documentos de matricula agilizó el proceso de manera :
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_6">
      <strong> 5. </strong> La facilidad de acceso a los m&oacute;dulos de la Comunidad Virtual fue: 
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control' type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='R'><input class='form-control' type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>

    <div class='celValue' id="label_question_7">
      <strong> 6. </strong> La cordialidad del personal que lo atendió durante el proceso de matrícula fue:
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-success btn-sm optionQuestion question_7' data-val='E'><input class='form-control' type='radio' name='question_7'>E <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='B'><input class='form-control' type='radio' name='question_7'>B <i class="fa fa-check" aria-hidden="true"></i></label>
      <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='R'><input class='form-control' type='radio' name='question_7'>R <i class="fa fa-check" aria-hidden="true"></i></label>
    </div>
    <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>

  

<!-- --------------------------------------------------------------------------------------------------------------------------- -->

<p><strong>¿Qué observaciones o sugerencias tienen para mejorar el proceso?</strong></p>
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observation"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p>Agradecemos su colaboraci&oacute;n.</p>
<p><strong>DEPARTAMENTO DE ADMISIONES Y MATR&Iacute;CULAS <br /> </strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLEGIO ANGLO AMERICANO</strong></p>
