<p>&nbsp;</p>
<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<P>Nos Pueden dejar los comentarios sobres las actividades académicas presentadas el dia de hoy</P>
<p>&nbsp;</p>
<p>Gracias por su colaboración.</p>
<p><strong>Comentarios</strong></p> 
<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>
<p>Gracias por su colaboración.</p>
