<p>Apreciados padres de familia</p> 
<p>Reciban un cordial saludo</p>
<div class='celValue' id="celValueConten">
<p>  "Solicitamos a todos los padres y estudiantes, <strong>sin excepción, diligenciar diariamente las columnas del cuadro</strong> teniendo en cuenta si el estudiante entendió y aprendió; su tiempo redundará en beneficio para su hijo(a).
  <strong>VOLUNTARIAMENTE, REGISTRAR OBSERVACIONES QUE PUEDAN AYUDARNOS A MEJORAR LOS PROCEDIMIENTOS.</strong>   Gracias por su colaboración."</p>
<p><strong>REGISTRE LAS ASIGNATURAS TRABAJADAS DURANTE EL DÍA Y EVALUE LAS ACTIVIDADES.</strong></p>
<div class='celValue'>
  <strong>Instrucciones: </strong> 
  <ol>
    <p>Consulte con su hijo(a) en caso necesario y seleccione el concepto correspondiente.</p>
      <p>(<strong>E</strong> = Excelente; <strong>B</strong> = Bueno; <strong>R</strong> = Regular; <strong>M</strong> = Malo).</p>
  </ol>
</div>
</div>
<table>
  <tr>
    <td><strong>Asignatura </strong></td>
    <td><strong>Conceptos del padre y estudiante  </strong></td> 
  </tr>
  <tr>
    <td>
      <div class='celValue' id="label_question_1">
        <input id="subject_1" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_1' data-val='E'><input class='form-control' type='radio' name='question_1'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_1' data-val='B'><input class='form-control' type='radio' name='question_1'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_1' data-val='R'><input class='form-control' type='radio' name='question_1'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_1' data-val='M'><input class='form-control' type='radio' name='question_1'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_1"><textarea class="form-control" id="reason_question_1" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>  
  <tr>
    <td>
      <div class='celValue' id="label_question_2">
        <input id="subject_2" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_2' data-val='E'><input class='form-control' type='radio' name='question_2'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_2' data-val='B'><input class='form-control' type='radio' name='question_2'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_2' data-val='R'><input class='form-control' type='radio' name='question_2'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_2' data-val='M'><input class='form-control' type='radio' name='question_2'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_2"><textarea class="form-control" id="reason_question_2" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>  
  <tr>
    <td>
      <div class='celValue' id="label_question_3">
        <input id="subject_3" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_3' data-val='E'><input class='form-control' type='radio' name='question_3'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_3' data-val='B'><input class='form-control' type='radio' name='question_3'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_3' data-val='R'><input class='form-control' type='radio' name='question_3'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_3' data-val='M'><input class='form-control' type='radio' name='question_3'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_3"><textarea class="form-control" id="reason_question_3" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>  
  <tr>
    <td>
      <div class='celValue' id="label_question_4">
        <input id="subject_4" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_4' data-val='E'><input class='form-control' type='radio' name='question_4'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_4' data-val='B'><input class='form-control' type='radio' name='question_4'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_4' data-val='R'><input class='form-control' type='radio' name='question_4'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_4' data-val='M'><input class='form-control' type='radio' name='question_4'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_4"><textarea class="form-control" id="reason_question_4" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>  
  <tr>
    <td>
      <div class='celValue' id="label_question_5">
        <input id="subject_5" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_5' data-val='E'><input class='form-control' type='radio' name='question_5'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_5' data-val='B'><input class='form-control' type='radio' name='question_5'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_5' data-val='R'><input class='form-control' type='radio' name='question_5'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_5' data-val='M'><input class='form-control' type='radio' name='question_5'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_5"><textarea class="form-control" id="reason_question_5" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class='celValue' id="label_question_6">
        <input id="subject_6" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_6' data-val='E'><input class='form-control' type='radio' name='question_6'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_6' data-val='B'><input class='form-control' type='radio' name='question_6'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_6' data-val='R'><input class='form-control' type='radio' name='question_6'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_6' data-val='M'><input class='form-control' type='radio' name='question_6'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_6"><textarea class="form-control" id="reason_question_6" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class='celValue' id="label_question_7">
        <input id="subject_7" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_7' data-val='E'><input class='form-control' type='radio' name='question_7'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_7' data-val='B'><input class='form-control' type='radio' name='question_7'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_7' data-val='R'><input class='form-control' type='radio' name='question_7'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_7' data-val='M'><input class='form-control' type='radio' name='question_7'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_7"><textarea class="form-control" id="reason_question_7" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class='celValue' id="label_question_8">
        <input id="subject_8" placeholder="Asignatura" class="form-control form-control-sm" value="" type="text">
      </div>
    </td>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class='btn btn-outline-success btn-sm optionQuestion question_8' data-val='E'><input class='form-control' type='radio' name='question_8'>E <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-primary btn-sm optionQuestion question_8' data-val='B'><input class='form-control' type='radio' name='question_8'>B <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-warning btn-sm optionQuestion question_8' data-val='R'><input class='form-control' type='radio' name='question_8'>R <i class="fa fa-check" aria-hidden="true"></i></label>
        <label class='btn btn-outline-danger btn-sm optionQuestion question_8' data-val='M'><input class='form-control' type='radio' name='question_8'>M <i class="fa fa-check" aria-hidden="true"></i></label>
      </div>
      <div class="input-group p-2 animated fadeInDown d-none" id="div_question_8"><textarea class="form-control" id="reason_question_8" placeholder="Motivo" rows="2"></textarea></div>
    </td>
  </tr>
</table>
<p><strong>Comentarios</strong></p> 

<div class="row p-1">
  <div class="col-md-12">
    <div class="input-group" id="div_observations"><textarea class="form-control" id="observation" placeholder="Observaciones" rows="2"></textarea></div>
  </div>
</div>

<p>Gracias por su colaboración.</p>
